* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9a6a6;
  background-image: url('path-to-your-emoji-background.gif'); /* If you want to add background GIF */
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  max-width: 500px;
  margin: 20px;
}

.container .tenor-gif-embed {
  max-width: 200px;
}

.container .btn {
  display: flex;
  gap: 25px;
}

.btn a {
  text-decoration: none;
  color: #111;
  background: #fff;
  padding: 10px 25px;
  border-radius: 66px;
  box-shadow: 0.5rem 1rem 3rem hsl(0, 0%, 0%, 0.3);
  background: linear-gradient(to right, #ffb6b6, #f7799b);
  border: 2px solid #ff477e;
  transition: transform 0.2s ease-in-out, background-color 0.3s ease;
}

.btn a:hover {
  background: #f7799b;
  color: white;
  transform: scale(1.05);
}

h1 {
  font-weight: bold; 
  color: #fff; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}

@media (max-width: 768px) {
  .container {
      max-width: 90%;
      margin: 10px;
  }
}
